{
  "stage": 0,
  "loose": ["es6.modules", "es6.classes"],
  "optional": [
    "runtime"
  ],
  "env": {
    "production": {
      "optional": [
        "optimisation.react.constantElements",
        "optimisation.react.inlineElements",
        "validation.react"
      ]
    }
  }
} 
